
.icon-001-money:before { content: '\e800'; } /* '' */
.icon-next:before { content: '\e801'; } /* '' */
.icon-search-bold:before { content: '\e802'; } /* '' */
.icon-002-charity:before { content: '\e803'; } /* '' */
.icon-003-list:before { content: '\e804'; } /* '' */
.icon-001-file:before { content: '\e805'; } /* '' */
.icon-002-libra:before { content: '\e806'; } /* '' */
.icon-tick:before { content: '\e807'; } /* '' */
.icon-001-strong:before { content: '\e808'; } /* '' */
.icon-002-mine:before { content: '\e809'; } /* '' */
.icon-003-shield:before { content: '\e80a'; } /* '' */
.icon-004-warm:before { content: '\e80b'; } /* '' */
.icon-005-humidity:before { content: '\e80c'; } /* '' */
.icon-006-forbidden:before { content: '\e80d'; } /* '' */
.icon-007-wash:before { content: '\e80e'; } /* '' */
.icon-008-diamond:before { content: '\e80f'; } /* '' */
.icon-009-planet-earth:before { content: '\e810'; } /* '' */
.icon-attachment:before { content: '\e811'; } /* '' */
.icon-checked:before { content: '\e812'; } /* '' */