<footer class="footer">
    <div class="footer__info">
        <div class="container">
            <div class="footer__wrapper">
                <div class="footer__wrapper-item">
                    <a href="index.html" class="logo">
                        <img src="../images/white-logo.png" alt="logotype">
                    </a>
                </div>
                <div class="footer__wrapper-item">
                    <p class="heading">Меню</p>
                    <nav id="footerMenu">
                        <ul>
                            <li>
                                <a href="#whyWe">Почему мы</a>
                            </li>
                            <li>
                                <a href="#ourWorks">Наши работы</a>
                            </li>
                            <li>
                                <a href="#catalog">Каталог</a>
                            </li>
                            <li>
                                <a href="#contacts">Контакты</a>
                            </li>
                            <li>
                                <a href="#aboutUs">О нас</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="footer__wrapper-item">
                    <p class="heading">Мы в соц сетях</p>
                    <ul>
                        <li>
                            <a href="https://web.telegram.org" target="_blank">Telegram</a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com" target="_blank">Youtube</a>
                        </li>
                        <li>
                            <a href="https://vk.com" target="_blank">VK</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__wrapper-item">
                    <p class="heading">Закажите звонок прямо сейчас</p>
                    <a href="javascript:void(0)" class="btn greenBlick open-requestCall">Заказать звонок</a>
                    <a href="javascript:void(0)" class="open-policy policy">Политика конфиденциальности</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        <div class="container">
            <a target="_blank" href="http://plemyastudio.ru"><i>©</i> Все права защищены, 2019. Разработка "Студия Племя".</a>
        </div>
    </div>
</footer>

