<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <div class="header__wrapper-logo">
                <a href="index.html">
                    <img src="../images/logotype.png" alt="logotype">
                </a>
            </div>

            <div class="header__wrapper-menu">
                <p class="slog">
                    Производство и установка столешниц из камня в Москве и Московской области
                </p>
                <nav class="mainMenu" id="mainMenu">
                    <ul>
                        <li>
                            <a href="#whyWe">Почему мы</a>
                        </li>
                        <li>
                            <a href="#catalog">Каталог</a>
                        </li>
                        <li>
                            <a href="#aboutUs">О нас</a>
                        </li>
                        <li>
                            <a href="#ourWorks">Наши работы</a>
                        </li>
                        <li>
                            <a href="#contacts">Контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="header__wrapper-btn">
                <!--Mobile menu hamburger-->
                <button class="toggle-menu">
                    <span class="hamburger">
                    <span class="sw-topper"></span>
                    <span class="sw-bottom"></span>
                    <span class="sw-footer"></span>
                    </span>
                </button>
                <!--End Mobile menu hamburger-->

                <a class="requestCall open-requestCall" href="javascript:void(0)">Заказать звонок</a>
            </div>
        </div>
        <div class="header__phone">
            <a href="tel:+74951502245">+7 (495) 150-22-45</a>
        </div>
    </div>
</header>