<!-- popups -->
<!-- .closeBtn - закрывает попап -->
<!-- .open-* - открывает попап -->
<div class="overlay-requestCall overlayPopup">
    <div class="close"></div>
    <div class="requestCall__popup">
        <span class="close-popup closeBtn"></span>
        <p class="heading">Заказать звонок</p>
        <p class="subtitle">Введите ваши данные и мы вам обязательно перезвоним</p>
        <form onsubmit="return false">
            <div class="form-input">
                <input type="text" placeholder="Введите имя" required>
                <span class="errorText">Неправильно введено имя</span>
            </div>
            <div class="form-input">
                <input class="inputPhone" type="text" placeholder="Введите номер телефона" required>
                <span class="errorText">Неправильно введен номер</span>
            </div>
            <p class="policy">При отправке данных вы соглашаетесь с <a href="javascript:void(0)" class="open-policy">Политикой конфиденциальности</a></p>
            <div class="form-btn">
                <button type="submit" class="open-thanksMsg closeBtn greenBlick">Заказать звонок</button>
            </div>
        </form>
    </div>
</div>

<div class="overlay-requestCall2 overlayPopup">
    <div class="close"></div>
    <div class="requestCall__popup">
        <span class="close-popup closeBtn"></span>
        <p class="heading">Заказать звонок</p>
        <p class="subtitle">Введите ваши данные и мы вам обязательно перезвоним</p>
        <form onsubmit="return false">
            <div class="form-input">
                <input type="text" placeholder="Введите имя" required>
                <span class="errorText">Неправильно введено имя</span>
            </div>
            <div class="form-input">
                <input class="inputPhone" type="text" placeholder="Введите номер телефона" required>
                <span class="errorText">Неправильно введен номер</span>
            </div>
            <div class="form-wrap">
                <div class="form-file">
                    <input type="file" name="file" id="file" class="inputfile" />
                    <label for="file"><span>Прикрепить файл</span></label>
                </div>
                <p class="policy">При отправке данных вы соглашаетесь с <a href="javascript:void(0)" class="open-policy">Политикой конфиденциальности</a></p>
            </div>
            <div class="form-btn">
                <button type="submit" class="open-thanksMsg closeBtn greenBlick">Заказать звонок</button>
            </div>
        </form>
    </div>
</div>

<div class="overlay-policy overlayPopup">
    <div class="close"></div>
    <div class="policy__popup">
        <span class="close-popup closeBtn"></span>
        <div class="popupBody">
            <h4 class="heading">Политика конфиденциальности</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
            <p class="bold">Quis ipsum suspendisse</p>
            <ul>
                <li>
                    <p>Quis ipsum suspendisse</p>
                </li>
                <li>
                    <p>Quis ipsum suspendisse</p>
                </li>
                <li>
                    <p>Quis ipsum suspendisse</p>
                </li>
            </ul>
            <p class="bold">Quis ipsum suspendisse</p>
            <ol>
                <li>
                    <p>Quis ipsum suspendisse</p>
                </li>
                <li>
                    <p>Quis ipsum suspendisse</p>
                </li>
                <li>
                    <p>Quis ipsum suspendisse</p>
                </li>
            </ol>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
        </div>
    </div>
</div>

<div class="overlay-thanksMsg overlayPopup">
    <div class="close"></div>
    <div class="thanksMsg__popup">
        <span class="close-popup closeBtn"></span>
        <div class="icon">
            <i class="icon-checked"></i>
        </div>
        <p class="heading">Спасибо, Ваша заявка принята.</p>
        <p>Ожидайте, скоро мы с Вами свяжемся</p>
        <a href="javascript:void(0)" class="closeBtn btn greenBlick">Хорошо</a>
    </div>
</div>

<div class="overlay-samplesPprices overlayPopup">
    <div class="close"></div>
    <div class="samplesPprices__popup">
        <span class="close-popup closeBtn"></span>
        <div class="imgBlk" style="background-image:url('../images/popupImg.jpg')"></div>
        <div class="textBlk">
            <p>Цвет камня воспроизведен с помощью фотографии. </p>
            <p>Реальный цвет и фотография могут отличаться из-за освещения. </p>
            <p>Рекомендуем посетить салон или производство для сверки с оригиналом.</p>
        </div>
        <div class="infoBlk">
            <p>Для расчета стоимость вашего изделия позвоните нам
                <a href="tel:88000000000">8 800 000 00 00</a> или напишите на почту <a href="mailto:int@intergran.ru">int@intergran.ru</a></p>
        </div>
    </div>
</div>


